.navbar{
    font-family: 'Sarabun',sans-serif;
}
.section{
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Sarabun',sans-serif;
    text-align: center;
}
.main-hading{
    color: rgb(47, 255, 0);
    font-size: 25px;
    text-align: center;
}
.underline{
    height: 4px;
    width: 10rem;
    background-color:rgb(0, 255, 115);
    margin-top:1opx;
    margin-bottom:10px;
}
h3{
    text-align: center;
}
.bg-c-light{
    background-color: aliceblue;
}